* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
}

header h2 {
  font-weight: 600;
}

header .fa-bars {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.home-page {
  background-image: url(./IMG/header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.intro {
  font-size: 40px;
  margin-top: 65px;
  text-align: center;
}

h1 span {
  color: #36b37e;
}

.info {
  color: #172b4d;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  margin-top: 45px;
  margin-bottom: 60px;
  width: 327px;
  height: 164px;
  padding: 0 18px;
}

.icon-list {
  display: flex;
  justify-content: center;
}

.icon-list li {
  list-style: none;
  margin-right: 19px;
}

.icon-list a {
  font-size: 25px;
  color: #505f79;
}
