* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 24px;
}

a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
}

header h2 {
    font-weight: 600;
}

header .fa-bars {
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.home-page {
    background-image: url(./IMG/header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}